* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    font-feature-settings: "palt";
    font-family: 'Noto Serif JP', serif;
}

.topPage {
    background-image: url("../img/html__backgroundImage.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popupHeader {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    height: 40px;
    background-color: #040404;
    z-index: 3;
    animation-duration: 500ms;
    animation-name: popup;
}

@keyframes popup {
    0% {
        top: -40px;
    }

    100% {
        top: 0;
    }
}

.popupHeader__nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupHeader__navList {
    display: flex;
    column-gap: 48px;
}

.popupHeader__navListItemrLink {
    color: white;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
}

.popupHeader__navListItemrLink:hover {
    animation-name: linkHover;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes linkHover {
    0% {
        background-image: radial-gradient(circle, #8B7A4D calc(1px / 2 - 1px), #040404 calc(1px / 2));
    }

    25% {
        background-image: radial-gradient(circle, #8B7A4D calc(10px / 2 - 1px), #040404 calc(10px / 2));
    }

    50% {
        background-image: radial-gradient(circle, #8B7A4D calc(20px / 2 - 1px), #040404 calc(20px / 2));
    }

    75% {
        background-image: radial-gradient(circle, #8B7A4D calc(10px / 2 - 1px), #040404 calc(10px / 2));
    }

    100% {
        background-image: radial-gradient(circle, #8B7A4D calc(1px / 2 - 1px), #040404 calc(1px / 2));
    }
}

.popupHeader__navListItemrLink:active {
    animation-name: linkHover;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.topHeader {
    height: 70px;
    background-color: #040404;
    display: flex;
    align-items: center;
    justify-content: center;
}

.topHeader__item {
    width: 1120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topHeader__itemLogo {
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.topHeader__itemLogo--red {
    color: red;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}

.topHeader__itemNavList {
    display: flex;
    column-gap: 48px;
}

.topHeader__itemNavListItemrLink {
    color: white;
    font-family: 'Noto Serif', serif;
    font-size: 16px;
}

.topHeader__itemNavListItemrLink:hover {
    animation-name: linkHover;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.topHeader__itemNavListItemrLink:active {
    animation-name: linkHover;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.topImage__slide {
    height: calc(100vh - 110px);
}

.topImage__slide--sp {
    display: none;
}

.topImage__slide {
    height: calc(100vh - 110px);
}

.topImage__slideImage {
    height: calc(100vh - 110px);
    object-fit: cover;
}

.topImage {
    position: relative;
}

.topImage__logo {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -56.8%);
    z-index: 2;
}

.topImage__logoTitle {
    color: white;
    font-family: 'Viga', sans-serif;
    font-size: 96px;
    margin-bottom: 16px;
}

.topImage__logoSubTitle {
    color: #8B7A4D;
    font-family: 'Noto Serif JP', serif;
    font-size: 24px;
}

.topImage__line {
    height: 40px;
    background-color: #040404;
}

.information {
    padding-top: 128px;
    box-sizing: border-box;
}

.information__background {
    box-sizing: border-box;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding: 128px 96px;
    background-image: url("../img/information__background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.information__item {
    border-radius: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 16px;
    background-color: #2F2F2F;
}

.information__itemList {
    margin-left: auto;
    margin-right: auto;
    max-width: 672px;
    color: white;
    line-height: 24px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 16px;
}

.information__itemListDate {
    width: 15%;
    max-width: 80px;
}

.information__itemListText {
    width: 85%;
    max-width: 560px;
}

.story {
    padding-top: 128px;
}

.story__title {
    margin-bottom: 64px;
    color: #8B7A4D;
    font-family: 'Noto Serif', serif;
    font-size: 40px;
    text-align: center;
}

.story__item {
    box-sizing: border-box;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url("../img/story__background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.story__itemText {
    max-width: 736px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 24px;
    line-height: 60px;
}

.character {
    padding-top: 128px;
}

.character__title {
    margin-bottom: 64px;
    color: #8B7A4D;
    font-family: 'Noto Serif', serif;
    font-size: 40px;
    text-align: center;
}

.character__item {
    box-sizing: border-box;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    padding: 128px 96px;
    background-image: url("../img/character__background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.character__itemList {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    column-gap: 24px;
    row-gap: 48px;
}

.character__itemListParts {
    width: 48%;
    max-width: 450px;
}

.character__itemListPartsImage {
    max-width: 100%;
}

.character__itemListText {
    width: 48%;
    max-width: 450px;
    color: white;
}

.character__itemListText--reverse1 {
    order: 1;
}

.character__itemListText--reverse2 {
    order: 2;
}

.character__itemListText--reverse3 {
    order: 3;
}

.character__itemListTextName {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 400;
}

.character__itemListTextCv {
    font-size: 16px;
    margin-bottom: 56px;
}

.character__itemListTextCv::before {
    font-size: 14px;
    margin-right: 0.5em;
    content: "cv.";
    background-color: #8B7A4D;
}

.character__itemListTextDetail {
    max-width: 450px;
    font-size: 14px;
    line-height: 24px;
}

.world {
    padding-top: 128px;
    padding-bottom: 128px;
}

.world__title {
    margin-bottom: 64px;
    color: #8B7A4D;
    font-family: 'Noto Serif', serif;
    font-size: 40px;
    text-align: center;
}

.world__text {
    color: white;
    font-size: 14px;
    line-height: 24px;
    display: block;
    max-width: 544px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}

.world__slide--sp {
    display: none;
}

.world__slideImage {
    margin-left: 10px;
    margin-right: 10px;
}

.spec {
    background-color: #040404;
    padding-top: 128px;
    padding-bottom: 128px;
}

.spec__title {
    margin-bottom: 64px;
    color: #8B7A4D;
    font-family: 'Noto Serif', serif;
    font-size: 40px;
    text-align: center;
}

.spec__item {
    max-width: 928px;
    margin-left: auto;
    margin-right: auto;
    background-color: #333333;
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: center;
    column-gap: 5%;
}

.spec__itemList {
    max-width: 320px;
    color: white;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    row-gap: 24px;
}

.spec__itemListLabel {
    width: 130px;
    text-align: center;
    background-color: #040404;
}

.spec__itemListdetail {
    width: 180px;
}

.topFooter {
    height: 40px;
    font-size: 14px;
    color: white;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.--fadeIn {
    animation-name: fadeIn;
    animation-timing-function: linear;
    animation-duration: 1500ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (min-width:960px) and (max-width:1279px) {

    .topHeader__item {
        width: calc(100vw - 64px);
    }

    .topImage__logoTitle {
        font-size: 64px;
    }

    .topImage__logoSubTitle {
        font-size: 20px;
    }

    .information__background {
        max-width: 960px;

    }

    .story__item {
        max-width: 960px;
    }

    .character__item {
        max-width: 960px;
    }

    .world__text {
        max-width: 480px;
    }

}

@media screen and (min-width:480px) and (max-width:959px) {

    .topHeader {
        height: 40px;
    }

    .topHeader__item {
        width: calc(100vw - 32px);
    }

    .topHeader__itemLogo {
        font-size: 12px;
    }

    .topHeader__itemNavList {
        column-gap: 12px;
    }

    .topHeader__itemNavListItemrLink {
        font-size: 14px;
    }

    .topImage__slide {
        display: none;
    }

    .topImage__slide--sp {
        display: block;
    }

    .topImage__slide {
        height: calc(100vh - 60px);
    }

    .topImage__slideImage {
        height: calc(100vh - 60px);
    }

    .topImage__logoTitle {
        font-size: 40px;
        margin-bottom: 40px;
    }

    .topImage__logoSubTitle {
        font-size: 16px;
    }

    .topImage__line {
        height: 20px;
    }

    .information {
        padding-top: 64px;
    }

    .information__background {
        max-width: 480px;
        padding: 64px 16px;
    }

    .information__item {
        font-size: 14px;
    }

    .information__itemList {
        max-width: 432px;
        row-gap: 8px;
    }

    .information__itemListDate {
        text-decoration: underline;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400px;
    }

    .information__itemListText {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 400px;
    }

    .story {
        padding-top: 64px;
    }

    .story__title {
        margin-bottom: 32px;
    }

    .story__item {
        max-width: 480px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .story__itemText {
        max-width: 352px;
        font-size: 14px;
        line-height: 30px;
    }

    .character {
        padding-top: 64px;
    }

    .character__title {
        margin-bottom: 32px;
    }

    .character__item {
        max-width: 480px;
        padding: 32px 16px 0.1px 16px;
    }

    .character__itemList {
        max-width: 448px;
        display: block;

    }

    .character__itemListParts {
        width: 100%;
        max-width: auto;
    }

    .character__itemListPartsImage {
        max-width: 100%;
    }

    .character__itemListText {
        width: 100%;
        max-width: auto;
        margin-bottom: 32px;
    }

    .character__itemListText--reverse1 {
        order: 0;
    }

    .character__itemListText--reverse2 {
        order: 0;
    }

    .character__itemListText--reverse3 {
        order: 0;
    }

    .character__itemListTextName {
        margin-bottom: 8px;
    }

    .character__itemListTextCv {
        margin-bottom: 8px;
    }

    .character__itemListTextDetail {
        max-width: auto;
    }

    .world {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .world__title {
        margin-bottom: 32px;
    }

    .world__text {
        max-width: 384px;
        margin-bottom: 32px;
    }

    .world__slideImage {
        margin-left: 10px;
        margin-right: 10px;
    }

    .spec {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .spec__title {
        margin-bottom: 32px;
    }

    .spec__item {
        max-width: 480px;
        padding-top: 32px;
        padding-bottom: 32px;
        display: block;
    }

    .spec__itemList {
        max-width: 448px;
        font-size: 14px;
        column-gap: 8px;
        row-gap: 8px;
    }

    .spec__itemList--left {
        margin-bottom: 8px;
    }

    .spec__itemListLabel {
        height: 20px;
        font-size: 12px;
    }

    .spec__itemListLabel--sp {
        display: none;
    }

    .spec__itemListdetail--sp {
        display: none;
    }
}

@media screen and (max-width:479px) {

    .popupHeader__navListItemrLink {
        font-size: 14px;
    }

    .topHeader {
        height: 40px;
    }

    .topHeader__item {
        width: 100%;
    }

    .topHeader__itemLogo {
        font-size: 12px;
        margin-left: 16px;
    }

    .topHeader__itemNavList {
        display: none;
    }

    .topImage__slide {
        display: none;
    }

    .topImage__slide--sp {
        display: block;
    }

    .topImage__slideImage {
        height: calc(100vh - 60px);
    }

    .topImage__logoTitle {
        font-size: 32px;
        margin-bottom: 48px;
    }

    .topImage__logoSubTitle {
        font-size: 14px;
    }

    .topImage__line {
        height: 20px;
    }

    .information {
        padding-top: 64px;
    }

    .information__background {
        max-width: 343px;
        padding: 64px 16px;
    }

    .information__item {
        font-size: 14px;
    }

    .information__itemList {
        max-width: 311px;
        row-gap: 8px;
    }

    .information__itemListDate {
        text-decoration: underline;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 279px;
    }

    .information__itemListText {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 279px;
    }

    .story {
        padding-top: 64px;
    }

    .story__title {
        margin-bottom: 32px;
    }

    .story__item {
        max-width: 343px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .story__itemText {
        max-width: 311px;
        font-size: 14px;
        line-height: 30px;
    }

    .character {
        padding-top: 64px;
    }

    .character__title {
        margin-bottom: 32px;
    }

    .character__item {
        max-width: 343px;
        padding: 32px 16px 0.1px 16px;
    }

    .character__itemList {
        max-width: 311px;
        display: block;

    }

    .character__itemListParts {
        width: 100%;
        max-width: auto;
    }

    .character__itemListPartsImage {
        max-width: 100%;
    }

    .character__itemListText {
        width: 100%;
        max-width: auto;
        margin-bottom: 32px;
    }

    .character__itemListText--reverse1 {
        order: 0;
    }

    .character__itemListText--reverse2 {
        order: 0;
    }

    .character__itemListText--reverse3 {
        order: 0;
    }

    .character__itemListTextName {
        margin-bottom: 8px;
    }

    .character__itemListTextCv {
        margin-bottom: 8px;
    }

    .character__itemListTextDetail {
        max-width: auto;
    }

    .world {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .world__title {
        margin-bottom: 32px;
    }

    .world__text {
        max-width: 343px;
        margin-bottom: 32px;
    }

    .world__slide {
        display: none;
    }

    .world__slide--sp {
        display: block;
    }

    .world__slideImage {
        margin-left: 10px;
        margin-right: 10px;
    }

    .spec {
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .spec__title {
        margin-bottom: 32px;
    }

    .spec__item {
        max-width: 343px;
        padding-top: 32px;
        padding-bottom: 32px;
        display: block;
    }

    .spec__itemList {
        max-width: 311px;
        font-size: 14px;
        column-gap: 8px;
        row-gap: 8px;
    }

    .spec__itemList--left {
        margin-bottom: 8px;
    }

    .spec__itemListLabel {
        width: 100px;
        height: 20px;
        font-size: 12px;
    }

    .spec__itemListLabel--sp {
        display: none;
    }

    .spec__itemListdetail--sp {
        display: none;
    }

}